<h1>Reset your password</h1>
<p>Hi <strong>{{fullName}}</strong>,</p>
<p>We received a request to reset the password for your <strong>{{appName}}</strong> account. Enter this code in the app to continue:</p>

<span class="label">Reset code</span>
<div class="code-box">{{code}}</div>

<div class="surface surface-warning">
  <h2>Before you continue</h2>
  <ul>
    <li>This code expires in <strong>{{expiresIn}}</strong></li>
    <li>It can only be used once</li>
    <li>If you did not request a reset, ignore this email</li>
  </ul>
</div>
